Django==2.2.13

#phaser

PyYaml
django-import-export 
mysqlclient
wikipedia-API

### nice2have
#facebook-sdk


## socketio test
enum-compat==0.0.2
eventlet==0.21.0
python-engineio
python-socketio
pytz==2018.7
six==1.10.0
