html {
	font-family: Verdana, Helvetica, SunSans-Regular, Sans-Serif; }
}

img { border: none; }

.debug { color: #aaa; }
.debug a { color: #aaa; }

.msg {
    color: #666;
    font-weight: bold;
    font-size: 110%;
    margin: 5px;
}
.ajaxmsg {
    color: #333;
    font-weight: bold;
    margin: 2px 0px 0px 10px;
}

.simple {
    padding: 1px 3px;
    border: 1px;
    vertical-align: middle;
    margin-top: 4px;
}
.simple tr { height: 26px; }
.simple td { padding: 6px; }

.odd { background: #e6e6e6; }
.even { background: #ffffff; }
.high { background: #3ff; }

.bold	{
    color: #000000;
    font-weight: bold;
    font-size: 12pt;
}

.small	{
    color: #000000;
    font-weight: normal;
    font-size: 10pt;
}

.nobr {
	font-style: italic;
	white-space: nowrap;
}

.box {
	margin: 6px;
	padding: 8px;
	max-width: 480px;
	background: #ddd;
	text-align: left;
	color: #000;
}

#more {
	padding-left:40px;
	display:inline;
}

#sub {
	display: none;
	width: 600px;
}
#subform {
	width: 100%;
}
.nodispl {
	display: none;
}

.head {
	margin-top: 10px;
}

.formtable table tr td {
	text-align: right;
    font-size: 12px;
}

#loadingicon {
	visibility: hidden;
	text-align: center;
}

.innerfields {
margin-left: 60px;
}

fieldset.innerfields {
    border: none;
}

.grey {
    color: #888;
}
