/* General styles */
body {
    margin:0;
    padding:0;
    border:0;	    /* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#fff;
    font-size:90%;
}

h1, h2, h3 {
    margin:.8em 0 .2em 0;
    padding:0;
}
/* Header styles */

div#header {
    width: 100%;
    background-image: url( /static/images/strip_grey2.jpg );
    background-repeat:repeat-x;
/*
    clear: both;
    float: left;
*/
/*	display: none;  /* for testing functionality, more space on page */
	margin-bottom: 4px;
}

/* column container */
.colmask {
    position:relative;  /* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;	    /* width of whole page */
    overflow:hidden;	/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
    float:left;
    width:100%;
    position:relative;
}
.col1,
.col2,
.col3 {
    float:left;
    position:relative;
    padding:0 0 1em 0;
    overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu .colleft {
    right:79%;	    /* right column width */
}
.leftmenu .col1 {
    width:75%;	    /* right column content width */
    left:98%;	    /* 102 - 100% plus left column left padding */
}
.leftmenu .col2 {
    width:17%;	    /* 19 left column content width (column width minus left and right padding) */
    left:4.5%;	    /* 6 (right column left and right padding) plus (left column left padding) */
}

/* Footer styles */
#footer {
    padding-top: 10px;
    clear:both;
	margin-top: 30px;
	padding-left: 20px;
    width:100%;
	border-top: 1px solid #aaa;
	/*
	float:left;
*/
}

#footer table {
	width: 100%;
}

#footer td {
    padding: 5px;
    text-align: center;
}
