<html>
<head>
{% load static %}
  <title>fbsem</title>

    <script src="{{common_static}}js/phaser.js" type="text/javascript"></script>
    <script src="{{common_static}}js/socket.io.js" type="text/javascript"></script>
    <script src="{{common_static}}js/game.js" type="text/javascript"></script>
    <script src="{{common_static}}js/main.js" type="text/javascript"></script>
    <script src="{{common_static}}js/client.js" type="text/javascript"></script>

    {% comment %}
    <script src="{{common_static}}js/sstk.js" type="text/javascript"></script>
    {% endcomment %}
</head>

<body>
      <div id='game'></div>
</body>

</html>
