{% extends "fbsem/base.html" %}

{% block content %}

<h3>video test</h3>
<script type="text/javascript" src="http://rs/lib/js/videojs-extras.js"></script>

<link href="http://rs/lib/videojs/video-js.css" rel="stylesheet">
  <script src="http://rs/lib/videojs/video.dev.js"></script>
<script src="http://rs/lib/js/videojs-extras.js"></script>
<!-- START VIDEOJS -->
<video
    id="introvideo50"
    controls
    preload="auto"
    width="700"
    height="394"
    class="Picture"
    poster="http://rs/filestore/0/5_22de9586e7175d8/50pre_aa63b40d5ef7961.jpg?v=2020-03-10+22%3A27%3A33"
  >
  <source src="http://rs/filestore/0/5_22de9586e7175d8/50pre_aa63b40d5ef7961.mp4" type="video/mp4" >
  <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>


{% endblock %}
