<html>
<head>
{% load static %}{% load fbsem_extras %}

  <title>fbsem</title>

  <link href="/static/css/common.css" type="text/css" static="all" rel="stylesheet" />
<!-- theme specific sheets -->
	<link href="{% static "css/layout.css" %}" type="text/css" static="all" rel="stylesheet" />
  <link href="{{prefix_static}}css/main.css" type="text/css" static="all" rel="stylesheet" />
  <link href="{{prefix_static}}css/menutree.css" type="text/css" static="all" rel="stylesheet" />
  <link href="{{common_static}}css/nifty2.css" type="text/css" static="all" rel="stylesheet" />
    <script src="{{common_static}}js/jquery.js" type="text/javascript"></script>
    <script src="{{common_static}}js/main.js" type="text/javascript"></script>
    {{ js_head|safe }}
    {{ css_head|safe }}
</head>

<body>
	<div id="container">

<div id="header" align="center">
	<a href="/">HOME</a>
</div>


<div class="colmask leftmenu">

<div class="colleft">

<!--			    MIDDLE			-->
<div class="col1">
  <p><div class="msg">{{msg}}</div></p>
<div id="outerrmsg"></div>
<div class="simple" id="outmsg"></div>
  {% block content %}

		<!-- main content area -->
	{% endblock %}
  <hr>
  <div id="inventory">
{%comment %}
    {% include "users/inventory.html" %}
{%endcomment %}
  </div>
</div>
<div class="col2">

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  {% if user.is_staff %}
    <div><a href="/admin">Admin area</a></div>
  {% endif %}
  {% include "fbsem/nav.html" %}


  <a href="{% url 'logout' %}">Abmelden </a>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
  {% include "fbsem/loginbox.html" %}
{% endif %}

</div>

</div>

<!-- colcontainer end -->
</div>

<div id="footer">
	<table>
		<tr>
			<td width="25%">
			</td>
			<td width="50%">
        {% include "fbsem/footer.html" %}
			</td>
			<td width="25%" align="right">
			</td>
		</tr>
	</table>

</div>
<!-- container end -->
</div>

</body>

</html>
