{% for section in menudata %}

    {% ifequal arg1 section.href|cut:"/" %}
	<div class="menubox menubox-active">
    {% else %}
	<div class="menubox" style="padding-bottom: 0px;">
    {% endifequal %}

    <a href="/{{section.href}}">{{section.name}}</a>

	<div class="subbox">
	    <ul>
	    {% for item in section.links%}
		{% ifequal path item.href %}
		    <li class="item-active">
		{% else %}
		    <li class="item">
		{% endifequal %}
			<a href="{{prefix}}{{item.href}}">{{item.name}}</a>
		    </li>
	    {% endfor %}
	    </ul>
	</div>
    </div>  <!-- end box -->

{% endfor %}
